// Colors
$primary-black: #000000;
$primary-light-grey: #dfdfdf;
$primary-white: #fff;

$accent-color-one: #ffc593;
$accent-color-two: #bc7198;
$accent-color-three: #5a77ff;

// Font Size
$heading-large: 4rem;
$heading-medium: 2.4rem;
$heading-small: 1.8rem;
$heading-smallest: 1.2rem;

$body-regular: 1.5rem;
$body-small: 1.3rem;
